.container {
  padding: 20px;
  max-width: 1200px;
  margin: 30px auto;
}

.passwordsContainer {
  display: flex;
  justify-content: space-between;
}

.generator {
  flex: 1;
  margin-right: 15px;
}

.heading {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 8px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
}

.label {
  font-size: 20px;
}

.checkbox {
  margin-right: 8px;
}

.passwordList {
  flex: 1;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 26px;
}

.passwordItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.passwordInput {
  width: calc(100% - 50px);
  border: none;
  font-size: 16px;
  background: transparent;
  outline: none;
}

.copyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0;
  margin-left: 10px;
}

.options {
  margin-bottom: 16px;
}
